@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

}

.headerr{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.h-slide{
  margin-top: 7.5rem;
}
.footer{
  width: 100%;
  overflow-x: hidden !important;
}
  section p{
    color: #fff;
}

section i{
  color: #fff;
}

.row{
  overflow-x: hidden !important;
}

.vision{
  padding: 0 90px;
  margin-top: 4rem;
}

.foot{
  background-color: rgba(179, 173, 173, 0.993);
  text-align: center;
}

.under{
  text-align: center;
  background-color: rgba(138, 136, 136, 0.658);
}

.events p{
  font-size: 25px;
  cursor: pointer;
}

.events p:hover{
  color: orange;
}